body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background-color: #ffe9f0;
    color: #000000;
}
header {
    background-color: #f8d8e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: #f8d8e3;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header h1 {
    font-size: 26px;
    color: #8b2b56;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    width: 98%;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #8b2b56;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #5b1636;
}
main section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
h2 {
    margin-bottom: 15px;
    color: #8b2b56;
}
.Florería {
    background-color: #ffe9f0;
    color: #fff;
    text-align: center; /* Código del maestro*/ 
    border-radius: 8px; /* Código del maestro*/
}
.Florería h4{
    background-color: white;
    color: #8b2b56;
    font-size: 35px;
    padding: 20px;
    margin-bottom: 20px;
    margin: 40px;
    border-radius: 8px;
}
.eslogan{
    background-color: #fff;
      padding: 20px;
    margin-bottom: 20px;
    margin: 40px;
    border-radius: 8px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#historia{
     padding: 20px;
    margin-bottom: 20px;
    margin: 40px;
    border-radius: 8px;
}
.contenido-flexible {
    display: flex; /* Código del maestro*/
    gap: 20px; /* Código del maestro*/
     padding: 20px;
    margin-bottom: 20px;
    margin: 40px;
    border-radius: 8px;
}
.seccion-principal {
    flex: 2; /* Código del maestro*/
}
aside {
    flex: 1; /* Código del maestro*/
    background-color: #f7cad9;
    padding: 20px;
    border-radius: 8px;
}
.producto {
    display: flex;
    align-items: center; /* Código del maestro*/
    gap: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.producto img {
    max-width: 100px; /* Código del maestro*/
    height: auto; /* Código del maestro*/
    border-radius: 8px;
}
/* CONTROLES DE TAMAÑO DE TEXTO */
.text-size-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-size {
    background-color: #fad5e2;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: bold;
    color: #8b2b56;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-size:hover {
    background-color: #f8d8e3;
}
footer {
    background-color: #f8d8e3;
    text-align: center;
    padding: 20px;
    color: #5b1636;
    font-weight: 500;
}
footer a {
    color: #8b2b56;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
footer p{
    color: #973170;
}