body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background-color: #ffdfe9;
    color: #000000;
}
header {
    background-color: #f8d8e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: #f8d8e3;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header h1 {
    font-size: 26px;
    color: #8b2b56;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #8b2b56;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #5b1636;
}
main section {
    background-color: #fcd3e1;
    padding: 20px;
    margin-bottom: 20px;
    margin: 40px;
    border-radius: 8px;
}
.btn {
    padding: 25px;
    color: #8b2b56;
    background-color: #fadee8;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 260px;
}
.btn :hover{
    background-color: #f8d8e3;
}
h2{
    text-align: center;
color: #8b2b56;
font-size: 25px;
}
p{
text-align: center;
color: #dd84a5;
}
#historia h3{
color: #dd84a5;
text-align: left;
}
#historia p{
color: #dd84a5;
text-align: left;
}
.catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
}
.producto {
    width: 300px;
    background-color: #fad5e2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}
.producto:hover {
    transform: scale(1.05);
}
.producto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #f8d8e3;
    text-align: center;
    padding: 20px;
    color: #5b1636;
    font-weight: 500;
}
footer a {
    color: #8b2b56;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
footer p{
    color: #973170;
}