body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background-color: #ffe7ef;
    color: #333;
}
header {
    background-color: #f8d8e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
header h1 {
    font-size: 1.8em;
    color: #8b2b56;
    margin: 10px;
    background-color: #ffe8f0;
    border: 1px;
    padding: 10px;
    border-radius: 25px;
}
main section {
    background-color: #fadfe9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.seccion-principal {
  display: flex; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.hero {
    background-image: url('../imagenes/fondoFlores.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    color: #f8d8e3;
    background-attachment: fixed;
}
.hero h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
}
.hero p {
    font-size: 1.5em;
    margin-bottom: 25px;
}
.btn {
    background-color: #8b2b56;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #5b1636;
}
.catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px;
}
.producto {
    background-color: #fad5e2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}
.producto:hover {
    transform: scale(1.05);
}
.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.producto h3 {
    color: #8b2b56;
    font-size: 1.4em;
    margin: 15px 0 5px 0;
}
.producto p {
    margin: 10px;
    font-size: 0.95em;
}
.precio {
    font-weight: bold;
    color: #5b1636;
    font-size: 1.2em;
    margin-bottom: 15px;
}
