html{
 background-image: url("../controlalmacen/cables.jpg");
     
}

body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;      
    
}

p{
    font-family:cursive;  
    background-color: black;
    color: ghostwhite;
    text-align: center;
    border: 1px solid white;
}

header {
  background: red;
  width: 100%;
      
  position: fixed;
  z-index: 100;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: monospace;
  font-size: 20px;
}
nav ul li a {
  display: block;
  padding: 15px 20px;
  color: whitesmoke;
  text-decoration: none;
}
nav ul li:hover {
  background: green;
}



